.grid {
  margin:1em auto;
  border-collapse:collapse;
}

.grid td {
  width: 100px; height:100px;
  border: 3px solid grey;
}

#true {
  background-color: yellow;
}

#false {
  background-color: black;
}
