body {
}

div {
    display: block;
}

.container {

}

.game-container {
    background-color: #BBADA0;
    border-radius: 4px;
    position: absolute;
    box-sizing: border-box;
    padding: 15px;
    margin-top: 8%;
    margin-left: 31%;
    height: 470px;
    width: 470px;
}

.grid-container {
    height: 470px;
    width: 470px;
}
.row-container {
    margin-bottom: -3px;
    margin-left: -3px;
}

.cell-container {
    background-color: #CDC1B4;
    border-radius: 4px;
    float: left;
    height: 100px;
    width: 100px;
    margin-right: 15px;
    margin-bottom: 15px;
}

.tile-2 {
    text-align: center;
    background-color: #EEE4DA;
    color: #776E65;
    font-size: 55px;
}

.tile-4 {
    text-align: center;
    background-color: #EDE0C8;
    color: #776E65;
    font-size: 55px;
}

.tile-8 {
    text-align: center;
    background-color: #F2B179;
    color: #F9F6F2;
    font-size: 55px;
}

.tile-16 {
    text-align: center;
    background-color: #F59563;
    color: #F9F6F2;
    font-size: 55px;
}

.tile-32 {
    text-align: center;
    background-color: #F67C5F;
    color: #F9F6F2;
    font-size: 55px;
}

.tile-64 {
    text-align: center;
    background-color: #F65E3B;
    color: #F9F6F2;
    font-size: 55px;
}

.tile-128 {
    text-align: center;
    background-color: #EDCF72;
    color: #F9F6F2;
    font-size: 45px;
}

.tile-256 {
    text-align: center;
    background-color: #EDCC61;
    color: #F9F6F2;
    font-size: 45px;
}

.tile-512 {
    text-align: center;
    background-color: #EDC850;
    color: #F9F6F2;
    font-size: 45px;
}

.tile-1024 {
    text-align: center;
    background-color: #EDC53F;
    color: #F9F6F2;
    font-size: 45px;
}