h1 {
  color: #FF3300;
  font-family: 'Luckiest Guy', cursive;
  font-size: 3.5rem;
}

h4 {
  font-family: 'Luckiest Guy', cursive;
  font-size: 3.5rem;
}

h5 {
  font-family: 'Raleway', sans-serif;
  font-size: 1.9rem;
}

h6 {
  font-family: 'Raleway', sans-serif;
  font-size: 1.5rem;
}
p {
  font-family: 'Raleway', sans-serif;
  font-size: 2.2rem;
}
.application-body{
  background-image: url("https://oyestheydid.files.wordpress.com/2012/08/il_570xn-315910594.jpg");
  opacity: 0.6;
}
canvas {
    background: #FFFFFF;
}​
